@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 5vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu, .nav-social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2em;
}

.company-name {
    font-size: 2em;
    font-weight: 900;
}

.nav-menu > div {
    margin: 0 2em;
    margin-right: 0;
}

.nav-social-links > div {
    margin: 0 0.5em;
}

.banner {
    position: absolute;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 30vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    mix-blend-mode: screen;
}

.btn-section {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-section h4 {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.btn-section div {
    background-color: #000;
    color: #fff;
    padding: 1em 3em;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}